.home-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url(../../assets/background-home.png), url(../../assets/background-home2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;

  padding: 42px 115px;
}

