.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 105px;
  height: 36px;

  margin-right: 17px;
}

.header-left span {
  font-weight: 300;
  font-size: 2.8rem;
  color: #333333;
}

.header-right span {
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;

  margin-right: 16px;
}

.header-right img {
  cursor: pointer;

  width: 32px;
  height: 32px;
}